@import "../../assets/scss/variables.scss";
.projects__page{
    // margin-top: 160px;
    h1{
        margin-bottom: 0;
        padding-bottom: 5px !important;
    }

    .marginRight{
        margin-right: 40px;
    }
}