@import "../../assets/scss/variables.scss";
.home__section__cards {
    margin-bottom: 220px;
    // margin-bottom: 150px;

    @include for-upto-tablet-portrait {
        margin-bottom: 30px;
    }

    @include for-tablet-portrait-only {
        max-width: 60%; // for tablet vertical
        margin: 0 auto;
    }

}
.textContainer{
    // margin-top: 150px;
    @include for-upto-tablet-portrait {
        margin : 80px auto 100px auto;
    }

    .introText,
    .homeText,
    .blackText
    {
        margin-bottom: 0 !important;
        p{
            @include for-upto-tablet-portrait {
                margin-bottom: 12px !important;
                padding-bottom: 0px !important;
            }
        }
    }

    .defaultText{
        p{
            @include for-upto-tablet-portrait {
                margin-bottom: 0 !important;
            }
        }
    }
}

@include for-upto-tablet-portrait {
    .home_cards:last-child{
        .cards__box{
            margin:  0 0 10px 0;
        }
    }
}